<!DOCTYPE html>
{% extends 'base.html' %}

<!-- Main Body -->
{% block content %}

    <div class="container">

        <div class="row d-flex justify-content-between">
            <div class="col-7 py-3">
                <h3>Restaurant Staff Page: Create New Pizza Record</h3>
            </div>
            <div class="col-2 py-3 d-flex justify-content-end">
                <a href="{% url 'restaurantStaffApplication:pizzaRecords' %}" class="text-white btn btn-lg btn-dark" 
                    style="min-width: 7rem; text-decoration: none;">
                    Pizza List
                </a>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data"
            class="bg-light p-5"
            style="margin: 5rem 0;">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">{{ pizzaForm.name.label_tag }}</label>
                {{ pizzaForm.name }}
            </div>
            <div class="mb-3">
                <label class="form-label">{{ pizzaForm.price.label_tag }}</label>
                {{ pizzaForm.price }}
            </div>
            <div class="mb-3 form-check">
                <label class="form-label">{{ pizzaForm.image.label_tag }}</label>
                {{ pizzaForm.image }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

{% endblock %}