<!DOCTYPE html>
{% extends 'base.html' %}


{% block content %}

    <h1>Restaurant Staff Page: Order List Page</h1>


    <div class="container">

        <h3 class="text-center" id="orderHeading"
            style="margin-top: 5rem;">All Orders List</h3>

            <table class="table table-hover table-striped"
                style="margin: 2rem 0 5rem 0;">
                <thead>
                    <tr>
                        <th scope="col">Order ID#</th>
                        <th scope="col">Pizza</th>
                        <th scope="col">Username</th>
                        <th scope="col">Date Purchased</th>
                        <th scope="col">Status</th>
                        <th scope="col">Total</th>
                        <th scope="col" 
                            class="text-center">View Detail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in orders %}
                    <tr>
                        <th scope="row"
                            class="py-4">{{ o.order_id }}</th>
                        <td class="py-4">{{ o.pizza }}</td>
                        <td class="py-4">{{ o.user }}</td>
                        <td class="py-4">{{ o.date }}</td>
                        <td class="py-4">
                            <span class="badge bg-info m-0 py-2 statusCol" id="statusCol_{{o.order_id}}">
                                {{ o.status }}
                            </span>
                        </td>
                        <td class="py-4">{{ o.amount }}</td>
                        <td class="text-center py-4">
                            <a href="{% url 'restaurantStaffApplication:orderStatusUpdate' o.order_id %}"
                                class="btn btn-primary btn-sm">
                                View
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                            Total Orders: <b> {{ total_order_num }} </b>
                        </td>
                    </tr>
                </tfoot>
            </table>

    </div>

{% endblock %}